body {
    background-color: #f0e8ee; /* Light beige background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .wrraper {
    width: 80%;
    margin: 150px auto; /* Center the wrapper horizontally */
    background-color: rgba(68, 8, 147, 0.87);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* Add a subtle shadow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .h2_nivel {
    color: #fff; /* White text color */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .question_asked {
    background-color: #fff; /* White background for question */
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 95%;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .btn_quest {
    background-color: #ff6b6b; /* Pink button background */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .result-button-container { 
    position: fixed; 
    bottom: 10px;
     right: 10px; 
    }
  
  .result-button-container button {
    flex-grow: 1; /* Make buttons take up equal space */
  }


  
.btn_quest:hover { /* Styles for hover state */
    background-color: #9b00a9; /* Slightly darker background on hover */
  }

.btn_quest:after{
    background-color: #9b00a9;
}
button.selected{
    background-color: #9b00a9;
}

.li_q:after{
    background-color: #9b00a9;
}
.li_q.selected{
    background-color: #9b00a9;
}