body {
    background-color: rgb(180, 172, 188);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-profil {
    background-color: rgb(187, 172, 196);
    color: #ffffff;
    padding: 20px;
}

.header-profil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-profil h1 {
    margin-left: 20px;
    font-size: 2em;
}

.img-home {
    width: 50px;
    height: 50px;
}

.profil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.imgProfil {
    max-width: 400px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 20px;
}

.left-section-profil button, .btn-profil {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 200px;
    height: 40px;
    margin: 10px 0;
}

.dateUser-profil {
    width: 100%;
    max-width: 640px;
    margin-bottom: 20px;
}

.dateUser-profil div {
    margin-bottom: 10px;
}

.dateUser-profil label {
    display: block;
    margin-bottom: 5px;
}

.dateUser-profil input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tabel {
    width: 100%;
    max-width: 640px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.pp {
    z-index: 100;
}
.main-container-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.btn-profil-admin {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 400px;
    height: 100px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-profil-admin a {
    color: #ffffff;
    text-decoration: none; 
}

.btn-profil-admin a:hover {
    color: #ffffff; 
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}