body {
    background-color: rgb(180, 172, 188);
    margin: 0; /* Resetare margini implicite */
    padding: 0; /* Resetare padding implicit */
    font-family: Arial, sans-serif; /* Stil de font implicit pentru întreaga pagină */
}

.container{
    background-color: rgb(0, 0, 0);   
}

.header h1{
    color: #ffffff;
}

.profil-container {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.dateUser{
    z-index: -1;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    position: absolute; 
    top: 0;
    right: 0; 
    border-radius: 10px;
    margin: 150px; 
    padding: 10px; 
    width: 640px;
}

.pozaUser{
    margin-left: 30px;
    margin-right: 200px;
    margin-bottom: 700px;
}

.imgProfil{
    margin-left: 40px;
    border-radius: 5%; 
}


.column-right {
    display: flex;
    flex-direction: column; 
}

.pop {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp{
    z-index: 100;
}


.but{
    margin-left: 150px;
    margin-top: 30px;
}

.left-section button{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 200px;
    height: 40px;
    margin-left: 135px;
    margin-top: 20px;
}

.btn{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

.img-home{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}


.left-section{
    position: fixed;
    left: 0;
    top: 0;
    width: 500px;
    height: 300px; 
    margin-top: 100px;
}



.tabel{
    position: absolute; 
    top: 0;
    right: 0; 
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px; 
    width: 640px;
    margin-top: 350px;
    margin-right: 150px;
    height: 50%;
    z-index: -1;
}

.dateUser div{
    padding: 5px;
}

.header {
    position: relative;
    display: flex;
    
}

.header h1{
    margin-left: 600px;
    align-items: center;
    justify-content: center;
}
